<!DOCTYPE html>
<html>

<head>
    <title>Welcome Doctor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/upload_segment.css">
    <script src='jquery.js'> </script>
    <script src="jquery.validate.js"> </script>
</head>

<body style="background-image: url({{ url_for('static', filename='ban3.jpg') }})">
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='logo.png') }}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
 		<div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
		<li class="nav-item active">
			<a class="nav-link" href="/load_add_patient_s">ADD PATIENT</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/profile">PATIENT INFORMATION</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/load_upload_segment_s">SEGMENTATION</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/search_patient_s">PATIENT REVIEW</a>
		</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LOG OUT</a>
                    </li>
                </ul>
                <div class="push"></div>
            </div>
        </nav>
    </section>

	<br>
	<br>
	<br>
    <div class="container">
        <div class="d-flex justify-content-center ">
            <div class="card">
                <div class="card-header">
                    <h1>Welcome doctor</h1>
                </div>
                <div class="card-body">
                    <h3 align="justify"> We provide you a extremly <strong> user-friendly </strong> batch of tools
                        which are going to
                        help you to improve
                        no just the efficient of your assigments, but also your performace. </h3>
                    <h3 align="justify"> Please, use our tools as much as it is needed. These tools are
                        <strong>completly
                            free</strong>
                        because we believe that everyone <strong>has the right to see.</strong></h3>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
